/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

// examples:

$c_black: #000;

$c_white: #fff;


$c_dark: #231f20;
$c_green: #a19f56;
$c_lime: #95e43f;
$c_orange: #f25d0e;



/* =========================================
		Colors Applied
   ========================================= */
/**
 * Prefix applied colors with $ca_
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

// examples:

// state
// $ca_highlight: #8a2be2;

$ca_error: $c_orange;

$ca_success: $c_lime;


// elements
$ca_bg_body: transparent;
$ca_anchor: $c_orange;

// Top Banner
$ca_banner_bg: $c_dark;
$ca_nav_links: $c_white;
$ca_nav_links-hover: $c_orange;
$ca_site_banner: $c_green;


// typography
$ca_txt_display: $c_white;

$ca_txt_body: $c_white;

$ca_txt_highlight: $c_white;
